.list {
    width: 95%;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: auto;
    width: 95%;
}

#inputTodo {
    width: 200px;
}
#addButton {
    height: 25px;
    margin-top: 38px;
    margin-left: 10px;
}
.todoList {
    max-width: 605px;
    margin: auto;
}